* {
  box-sizing: border-box;
}
.main-container {
  position: relative;
  display: inline-block;
}

/* canvas {
  width: 100%;
  height: 100%;
} */

.info-container {
  position: absolute;
  background-color: transparent;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 22px;
}

.enemy-bar,
.player-bar {
  position: relative;
  height: 30px;
  width: 100%;
}
.health {
  background-color: yellow;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#enemyHealthContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(38, 0, 255);
}

#playerHealthContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(38, 0, 255);
}

#timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  position: absolute;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
